{% extends 'base.html.twig' %}

{% block body %}
    <h1>Heroes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hero in heroes %}
            <tr>
                <td><a href="{{ path('hero_show', { 'id': hero.id }) }}">{{ hero.id }}</a></td>
                <td>{{ hero.name }}</td>
                <td>{{ hero.description }}</td>
                <td>{% if hero.createdAt %}{{ hero.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Actions">
                        <a class="btn btn-outline-primary btn-sm" href="{{ path('hero_show', { 'id': hero.id }) }}">show</a>
                        <a class="btn btn-outline-primary btn-sm" href="{{ path('hero_edit', { 'id': hero.id }) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('hero_new') }}">Create a new hero</a>
{% endblock %}
